<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head -->
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
</head>
<body>

<div class="outer">
    <div class="top">

        <a class="homeButton glyphicon glyphicon-home" th:href="@{/home}"></a>

        <a class="btn btn-default button logOutButton glyphicon glyphicon-log-out" th:href="@{/logInUser}"></a>

        <a class="button newPostButton glyphicon glyphicon-pencil" th:href="@{/addPost}"></a>

        <form class="form"  action="#" th:action="@{/home}" th:object="${post}" method="post">
            <button type="submit" class="btn btn-default button searchButton glyphicon glyphicon-search"></button>
            <input class="searchbar" type="text" name="pattern" placeholder="Search.." th:field="*{text}"/>
        </form>

    </div>
    <div class="row">
        <div class="col-md-3 side left">
            <h3>You´re following:</h3>
            <ul class="followingList" th:each="element : ${users}">

                <li class="following">
                    <div class="profilePicSmall glyphicon glyphicon-user"></div>
                    <p class="person" th:text="${element.value.getUsername()}">Username</p>
                    <!--<img class="profilePicSmall" href="../css/profileIcon.png" th:src="@{/css/profileIcon.png}"/>-->

                </li>
            </ul>

            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>

        <div class="col-md-6 middle">

            <ul th:each="element : ${posts}">
                <li>
                    <div class="post">
                        <div class="postHeader">
                            <!--<img class="profilePic"  href="../css/profileIcon.png" th:src="@{/css/profileIcon.png}"/>-->
                            <div class="profilePic glyphicon glyphicon-user"></div>
                            <h2 class="author" th:text="${element.value.getUsername()}">Author</h2>
                        </div>

                        <p class="content" th:text="${element.value.getText()}"> content </p>
                        <P class="date" th:text="${element.value.getDate()}">dd.mm.yyyy</P>
                    </div>
                </li>
            </ul>

        </div>
        <div class="col-md-3 side right"></div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</body>
</html>