<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- The above 3 meta tags *must* come first in the head -->
	<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
		  rel="stylesheet" media="screen" />
	<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
</head>
<body>
<div class="container logInBackground">
	<div class="logInBox">
		<h1 class="loginHeading">Login</h1>
		<form action="#" th:action="@{/logInUser}" th:object="${greeting}"
			  method="post">

			<div class="loginInput usernameInput" >
				<p class="loginText"> Username </p>
				<input type="text" th:field="*{username}" />
			</div>
			<div class="loginInput" >
				<p class="loginText"> Password </p>
				<input type="password" th:field="*{password}" />
			</div>
			<p class="loginSubmit"> <input class="loginSubmitButton" type="submit" value="Login" /></p>
		</form>
		<a th:href="@{/adduser}">Register</a>

	</div>

</div>
</body>
</html>


