<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List all users</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

	<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
</head>
<body>
<div class="outer">
	<div class="top">
		<a class="homeButton glyphicon glyphicon-home" th:href="@{/home}"></a>
		<a class="button newPostButton glyphicon glyphicon-pencil" th:href="@{/addPost}"></a>

		<form class="form">
			<button type="submit" class="btn btn-default button searchButton glyphicon glyphicon-search"></button>
			<input class="searchbar" type="text" name="search" placeholder="Search.."/>

		</form>

	</div>
	<div class="row">

		<div class="col-md-3 side left"></div>

		<div class="col-md-6 middle">


			<h3>all found Users</h3>

			<ul class="userList">

				<li class="userProfile"  th:each="element : ${users}">
					<!--<form class="form" id="newPostForm" action="#" th:action="@{/follow}"
						  th:object="${users}" method="post">-->
						<div class="profilePicBig glyphicon glyphicon-user"></div>
						<p class="userProfileName" th:text="${element.value.getUsername()}">Username</p>
						<!--<input type="hidden" name="country" th:value="${element.value.getUsername()}">
						<button type="submit" class="btn btn-default">Follow</button>
					</form>-->
				</li>
			</ul>

		</div>

		<div class="col-md-3 side right"></div>

		<h3>all Tokens</h3>

		<table class="table">
			<thead>
			<tr>
				<th>id</th>
				<th>userId</th>
				<th>ip</th>
				<th>toDate</th>
			</tr>
			</thead>

			<tbody>
			<tr th:each="element : ${tokens}">
				<td th:text="${element.id}">key</td>
				<td th:text="${element.value.userId}">Some name</td>
				<td th:text="${element.value.ip}">Some name</td>
				<td th:text="${element.value.toDate}">Some name</td>
			</tr>
			</tbody>
		</table>

	</div>
</div>
</body>
</html>



